# ignored files
*.tfstate
*.tfstate.backup
.terraform
.idea
*.iml
_example/.terraform.tfstate.lock.info
*.terrafrom.lock.hcl
.terraform.lock.hcl
/_test/event_bus_archive/go.mod
/_test/event_bus_archive/go.sum
/_test/event_rule_target/go.sum
/_test/event_rule_target/go.sum
